*{
    margin: 0%;
    font-family:'Open Sans';
}

.body{
    background-color: white;
}

.header{
    
    background-color: black;
    color: white;
    height: 40px;
    width: 100%;
    font-family:'Open Sans';
    align-items: center;
    align-content: center;
    position: relative;
    display: flex;

}

.header-info{

    order: 1;
    width: 100%;
    height: 50%;
    display: flex;
    font-size: 12px;
    margin-top: 0.5%;
    margin-bottom: 1%;
    align-content: center;
    flex-direction: row;
}

.header-info-phone{
    order: 1;
}

.header-info-mail{
    order:2;
    margin-left: 30px;
    margin-top: 0.5%;
}   

.header-help{
    
    order: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}

.header-help1{
    order: 1;
    
}

.header-help1 span{
    margin-right: 0px;
}

.header-help2{
    order: 2;
    margin-left: 15%;
}

.header span {
    margin-left: 75px;
}


html, body {
  margin: 0;
  height: 100%;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: white;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
  height: 50px;
  padding: 1em;
}

.menu a{
    text-decoration: none;
    color: #000000;
}

.menu a:hover{
    color: #D23F57;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: revert;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: black;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

.nav-bar{
    background-color: rgb(255, 255, 255);
    height: 60px;
    width: 100%;
    display: inline-flex;
    align-content: center;
    align-items: center;
    font-family:'Open Sans';
    position: relative;
}

.hamburguer{
    display: none;
    cursor: pointer;
}

.logo{
    height: 41px;
    width:208px;
    margin-right: 28%;
    margin-left: 4%;
}

.nav2{
    display: flex;
    justify-content: space-between;
    justify-items: flex-start;
    align-items: center;
    font-size: 13px;
}



.nav span{
    margin-left: 100px;
    
}

.nav-link{
    transition: 0.7s ease; 
}

.nav-link:hover{
    color: red;
}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

.span2{
    margin-left: 50px;
}

.float{
    background-color: #0E0E0E;
    color: white;
    height: 859px;
    width: 100%;

}

.imgmeindi{
    height:859px;
    width:100%;
}

.presentation{
    width: 50%;
    float: left;
    text-align:left;
    padding: 130px 0;
    left: 200px;
    font-size: 28px;
    font-family: 'Open Sans';
}

.presentation h6{
    font-size: 14px;
}

.img{
    width: 50%;
    float: right;

}

.publicidad{
    height: 100px;
    width: 100%;
}

.select{
    justify-content: space-between;
}

.atencion{
    align-items: center;
    padding: 130px 38;
    position:relative;
    left: 82px;   
}

.atencion p{
    font-size: 14px;
}

.atencion h1{
    margin-right: 77px;
}

.boton{
    width: 176px;
    height: 54px;
left: 83px;
top: 567px;
border-radius: 0px;
padding: 10px;
background-color: #E63E58;
color: white;
font-family: 'Open Sans';
font-size: 17px;
}

.boton a{
    text-decoration: none;
    color: #E5E5E5;
}

.publicidad{
    position: relative;
    width: 96%;
    height: 628px;
    left: 59px;
    background-color: rgb(255, 255, 255);
    right: 59px;
    display: flex;
    flex-direction:row;
    text-align: left;
}

.flex1{
    background-color: rgb(255, 255, 255);
    height: 628px;
    width: 33%;
    order: 1;
}

.flex1 h1{
    font-family: 'Open Sans';
    color: #000000;
    font-size: 30px;
}

.flex1 p{
    font-family: 'Open Sans';
    color: #7D879C;
    font-size: 14px;
    width: 290px;
}

.flex1 h2{
    font-family: 'Open Sans';
    color: #2B3445;
    font-size: 12px;
    text-decoration: underline;
    text-decoration-color: #D23F57;
    text-decoration-thickness: 2px;
    
}

.flex2{
    background-color: #ffffff;
    height: 628px;
    width: 33%;
    order: 2;
    display: flex;
    flex-direction: column;
}

.flex21{
    order: 1;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    width: 319px;
    height: 255px;
    left: 487px;
    
}

.flex22{
    order: 2;
}

.flex2 h1{
    font-family: 'Open Sans';
    color: #000000;
    display:inline;
}

.flex2 p{
    font-family: 'Open Sans';
    color: #7D879C;
    font-size: 14px;
    width: 70%;

}

.flex2 h2{
    font-family: 'Open Sans';
    color: #2B3445;
    font-size: 12px;
    text-decoration: underline;
    text-decoration-color: #D23F57;
    text-decoration-thickness: 2px;
    
    
    
}


.flex3{
    background-color: rgb(255, 255, 255);
    height: 628px;
    width: 33%;
    order: 3;
    margin-top: 30px;
    margin-right: 9%;
}

.flex3 h1{
    font-family: 'Open Sans';
    color: #000000;
    display:inline;
    margin-top: 30px;

}

.flex3 p{
    font-family: 'Open Sans';
    color: #7D879C;
    font-size: 14px;
    width: 400px;
}

.flex3 h2{
    font-family: 'Open Sans';
    color: #2B3445;
    font-size: 12px;
    text-decoration: underline;
    text-decoration-color: #D23F57;
    text-decoration-thickness: 2px;
    text-align: right;
    
    
}

.imagenmenus{
    width: 342px;
    height: 252px;
}

.info-opciones-iconos{
    width: 95%;
    height: 125px;
    margin-left: 39px;
    background-color: #E5E5E5;
    position:relative;
    border-radius:8px;
    border: 1px;
    display: flex;
    flex-direction:row;
    margin-top: -30px;
    opacity: 80%;
}

.iconos1{
    order: 1;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    
}

.iconos1-texto{
    vertical-align: middle;
    font-family: 'Open Sans';
    font-size: 12px;
    margin-left: 5px;
}

.iconos1-texto p{
    color: #7D879C;
}


.iconos2{
    order: 2;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.iconos2-texto{
    vertical-align: middle;
    font-family: 'Open Sans';
    font-size: 12px;
    margin-left: 5px;
}

.iconos2-texto p{
    color: #7D879C;
}


.iconos3{
    order: 3;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.iconos3-texto{
    vertical-align: middle;
    font-family: 'Open Sans';
    font-size: 12px;
    margin-left: 5px;
}

.iconos3-texto p{
    color: #7D879C;
}


.iconos4{
    order: 4;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.iconos4-texto{
    vertical-align: middle;
    font-family: 'Open Sans';
    font-size: 12px;
    margin-left: 5px;
}

.iconos4-texto p{
    color: #7D879C;
}

.iconos5{
    order: 5;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.iconos5-texto{
    vertical-align: middle;
    font-family: 'Open Sans';
    font-size: 12px;
    margin-left: 5px;
}

.iconos5-texto p{
    color: #7D879C;
}

.img-marca-dif{
    justify-content: center;
    width: 94%;
    height: 710px;
    margin-left: 47px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.img-marca-dif img{
    width: 100%;
}

.img-marca-dif h1{
    font-family: 'Open Sans';
    font-size: 60px;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 40%;
}

.beneficios{
    width: 100%;
    height: 542px;
    display: flex;
    flex-direction: row;
    
}

.beneficios-img{
    order: 1;
    width: 35%;
    
}

.beneficios-texto{
    order: 2;
    width: 70%;
    height: 100%;
    margin-top: 10%;
    margin-right: 8%;

}

.beneficios-texto h1{
    font-size: 24px;
    font-family: 'Open Sans';
    
}

.beneficios-texto p{
    font-size: 17px;
    font-family: 'Open Sans';
    color: #5a5757;
}

.marca{
    width: 93%;
    height: 675px;
    margin-left: 50px;
    margin-top: -2%;
}

.marca img{
    width: 100%;
}

.marca-texto{
    width: 1034px;
    height: 127px;
    margin-left: 205px;
    text-align: center;
    vertical-align: middle;
    font-family:'Open Sans';
    font-size: 22px;
    color: #838383;
    background-color: #F6F9FC;
    position: relative;
    margin-bottom: 4%;
}

.marca-texto h1{
    margin-top: 4%;
}

.container-escribenos{
    text-align: center;
}

.escribenos{
    justify-content: center;
    width: 649px;
    height: 161px;
    margin:auto;
    align-items: center;
}

.form-control{
    width:79%;
    height: 37px;
    background-color: #D8E0E9;
    border-width: 1px;
}

.btn{
    background-color: #D23F57;
    border-radius: 0px 8px 8px 0px;
    width: 124px;
    height: 43px;
    margin-left: -1%;
    color: #E5E5E5;
}

.col{
    margin-bottom: 3%;
}

.footer{
    width: 100%;
    height: 460px;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    margin-top: 4%;
}

.footer-meindi{
    width: 25%;
    height: 100%; 
    display: flex;
}

.footer-meindi-content{
    align-items: center;
    color: #E5E5E5;
    margin: auto;
    margin-left: 25px;
    font-family: 'Open Sans';
}


.footer-about-us{
    width: 25%;
    height: 87%;
    display: flex;
}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #4B566B;
    color: white;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    
  }
  
  /* Twitter */
  .fa-twitter {
    background: #4B566B;
    color: white;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    
  }

  .fa-instagram{
    background: #4B566B;
    color: white;
    border-radius: 50%;
    height: 16px;
    width: 16px;
  }

  .fa-youtube{
    background: #4B566B;
    color: white;
    border-radius: 50%;
    height: 16px;
    width: 16px;
  }

  .fa-google{
    background: #4B566B;
    color: white;
    border-radius: 50%;
    height: 16px;
    width: 16px;
  }


.about-us{
    font-family: 'Open Sans';
    margin: auto;
}

.about-us h1{
    color: #E5E5E5;

}

.about-us p{
    color: #7D879C;
}

.about-us p:hover{
    color: #E5E5E5;
}

.about-us a{
    text-decoration: none; 
    color: #7D879C;
}

.about-us a:hover{
    color: #E5E5E5;
}


.footer-custom-care{
    width: 25%;
    height: 59%;
    display: flex;
    
}

.customer-care{
    font-family: 'Open Sans';
    margin: auto;
}

.customer-care h1{
    color: #E5E5E5;

}

.customer-care p{
    color: #7D879C;
}

.customer-care p:hover{
    color: #E5E5E5;
}

.customer-care a{
    text-decoration: none; 
    color: #7D879C;
}

.customer-care a:hover{
    color: #E5E5E5;
}




.footer-contact-us{
    width: 25%;
    height: 100%;
    display: flex;
}

.contact-us{
    font-family: 'Open Sans';
    margin: auto;
}

.contact-us h1{
    color: #E5E5E5;

}

.contact-us p{
    color: #7D879C;
}




@media only screen and (max-width: 768px) {
    
    .header{
        display: flex;
        flex-direction: row;
        display: none;
    }

    .nav2{
        display: none;
    }

    .toggle-button {
        display: flex;
        right: 3em;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }


    .header-help1{
        order: 1;
        margin-right: 12px;
    }


    .float{
        height: 450px;
    }

    .imgmeindi{
        height: 450px;
    }

    .presentation{
        height: 191px;
    }

    .atencion{
        font-size: 11px;
    }
    
    .publicidad{
        position: static;
        flex-direction: column;
        height: 859px;
        margin-left: 0%;
        left: 21%;
        text-align: center;
    }

    .publicidad p{
        width: 100%;
        text-align: center;
    }

    .publicidad h2{
        margin-bottom: 25px;
    }

    .flex2{
        text-align: center;
        align-items: center;
    }

    .flex3{
        text-align: center;
        align-items: center;
    }

    .flex3 h2{
        text-align: center;
    }
    

    .marca-texto{
        width: 100%;
        margin-left: 0%;
    }

    .logo{
        margin-right:10%
    }

    .info-opciones-iconos{
        flex-direction:column;
        width: 100%;
        margin-left: 0px;
        margin-top: 215%;
        align-items: center;
        height: 310px;
    }

    .img-marca-dif{
        width: 100%;
        margin-left: 0px;
        height: 229.41px;
        margin-top: 5%;
    }

    .img-marca-dif h1{
        text-align: center;
        left: 0px;
        top: 22%;
    }

    .marca{
        margin-left: 0px;
        width: 100%;
        height: 220px;
    }

    .flex1{
        width: 100%;
        text-align: center;
    }
    .flex2{
        width: 100%;
        text-align: center;
    }

    .flex3{
        width: 100%;
        text-align: center;
    }

    .beneficios{
        flex-direction: column;
        margin-left: 0%;
        font-size: 10px;
    }

    .beneficios-img{
        height: 100px;
        margin-left: -33%;
        opacity: 25%;
    }

    .beneficios-texto{
        margin-top: 5%;
        width: 100%;
        text-align: center;
    }

    .footer{
        display: none;
    }


  }

  @media only screen and (max-width: 1024px) {
    
    .header{
        flex-direction: row;
        display: none;
    }
  }


.img-slide{
    width: 100%;
    height: auto;
    position: static;
}

.sobre-nosotros{
    height: 656px;
    background-color: #000000;
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.sn1{
    order: 1;
}

.texto-nosotros{
    order: 2;
    color: #E5E5E5;
    margin: auto;
}

.texto-nosotros h2{
    font-size: 60px;
    margin-left: -10%;
}

.linea{
    width: 400px;
    height: 3px;
    background-color:#E5E5E5;
    margin-left: 3%;;
}

.texto-nosotros p{
    font-size: 16px;
    color :rgba(196, 196, 196, 1);
    font-style: normal;
    font-weight: 400;

}

.notar-marca{
    display: flex;
    flex-direction: row;
}

.texto-marca-n{
    order: 1;
}

.img-marca-n{
    order: 2;
}

.lineatexto{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aps{
    background: rgba(230, 62, 88, 1);
    margin-left: 44%;
    color: #E5E5E5;
    height: 54px;
    width: 204px;
    border-radius: 0px;
    padding: 10px;

}

.soporte-tec{
    text-align: center;
    color: rgba(120, 120, 120, 1);

}

.mapas{
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 1102px;
    height: 410px;
    background-color: #0E1B1B;
}


.mapa1{
    margin: auto;
text-align: left;
color: #E5E5E5;
display: flex;
}

.mapa2{
    margin: auto;
    display: flex;
    text-align: left;
    color: #E5E5E5;
}


@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap");

.carousel__wrapper {
    padding: 20px;
  }
  .carousel__content {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }
  .carousel__container {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }
  .carousel__container::-webkit-scrollbar {
    display: none;
  }
  .carousel__slide {
    min-width: 90%;
  }
  
  .card__description {
    display: flex;
    column-gap: 10px;
    align-items: center;
  }
  .card__description img {
    width: 20px;
  }
  .card__description span {
    padding: 5px 15px;
    border-radius: 5px;
    color: #fff;
  }
  .card__description span.fire {
    background-color: orange;
  }
  .card__description span.psychic {
    background-color: rgb(146, 100, 108);
  }
  .card__description span.electric {
    background-color: rgb(231, 210, 88);
  }
  .card__description span.rock {
    background-color: rgb(114, 102, 32);
  }
  .card__description span.grass {
    background-color: rgb(32, 114, 69);
  }
  
  .card__inner {
    /*box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    flex-direction: column;
    row-gap: 0.5rem;
    height: 300px;
    border-radius: 12px;
    background-color: #fff;
    padding: 2rem 4rem;

    background: #292C36;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  }
  .card__inner h4 {
    font-size: 1.5rem;
    margin: 0;
    color:#E5E5E5;
  }
  .card__image img {
    max-height: 150px;
    margin-bottom: 1rem;
  }
  .arrow {
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: calc(50% - 10px);
    background-color: rgba(3, 101, 214, 0.664);
    padding: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .arrow i {
    font-size: 1.5rem;
    color: #fff;
  }
  .arrow.arrow--right {
    right: 0%;
  }
  .arrow.arrow--left {
    left: 0%;
  }
  
  @media screen and (min-width: 1180px) {
    .carousel__wrapper {
      padding: 50px;
    }
    .carousel__slide {
      min-width: 33.33%;
      scroll-snap-align: center;
      position: relative;
    }
    .arrow {
      display: flex;
    }
  }
  


.form-contact{
    height: 879px;
    border: rgba(222, 226, 232, 1);
    margin: 2%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5%;
    display: flex;
}

.form{
    order: 1;
    width: 50%;
    margin: auto;
}

.form-img{
    width: 50%;
    order: 2;
    margin: auto;
}


.label {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #888;
    cursor: text;
    transition: transform .2s ease-in-out;
 }

 .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: rgba(199, 204, 208, 1);
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 50%;
    
 }


 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgba(79, 79, 82, 1)
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgba(79, 79, 82, 1)
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .terms{
    margin-left: 2%;
  }

  .btn-contact{
    width: 449px;
    height: 40px;
    background-color:#393939;
    border-radius: 8px;
  }

  .btn-contact a{
    text-decoration: none;
    color: #E5E5E5;
  }
